// 
// Variables
// 

// Branding
$color-1: #0b2e4c;
$color-2: #0063b0;
$color-3: #3fb764;
$color-4: #1bbecc;
$color-6: #963a85;
$color-7: #ee4788;
$color-8: #ef485d;

// Colors used in the edge bundling diagram
$color-9: #00acc1;
$color-10: #ff4185;
$color-11: #0dd86d;
$color-12: #e4f9b2;
$color-13: #1155CB;

// VuePress overrides
$accentColor: #3eaf7c;
$textColor: #2c3e50;
$borderColor: red;
$codeBgColor: #282c34;

// VuePress default theme variables
$MQMobile: 719px;
$navbarHeight: 3.6rem;