// 
// Forms
// 

select {
	background: #fff url('/icons/arrow-down.svg') no-repeat 100% 50%;
	background-repeat: no-repeat, repeat;	
	background-position: right .7em top 50%, 0 0;	
	background-size: .65em auto, 100%;

	font-size: $base-font-size;
	font-family: $monospace;
	color: $color-13;
	letter-spacing: -1px;

	appearance: none;
	padding: .625rem 1.8rem .625rem .625rem;
	border: 2px solid $color-15;
	border-radius: 3px;
	outline: 0;

	box-shadow: $base-soft-shadow;

	transition:
		border 250ms ease-in-out,
		box-shadow 250ms ease-in-out;

	&:hover {
		// border-color: $color-13;
	}
}

select::-ms-expand {
	display: none;
}

select:hover {
	
}

select:focus {
	
}

select option {
	font-weight: normal;
}

// button utility classes

.btn {
	display: inline-block;
	padding: .35rem 2.25rem;
	border: 0;
	border-radius: 0;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
}

.btn--large-text {
	font-size: 1.125rem;
}

.btn--hollow {
	background: none;
	box-shadow: inset 0 0 0 2px #000;
	color: #000;
}

.btn--bright {
	color: #fff;
	background-color: $color-13;
}