// 
// Forms
// 

select {
	background: transparent url('/icons/arrow-down.svg') no-repeat 100% 50%;
	color: $version-nav-select-color;
	font-size: inherit;
	font-family: inherit;
	border: 0;
	border-radius: 0;
	outline: none;
	appearance: none;
	padding: 0 0.625rem;
}

select::-ms-expand {
	display: none;
}

select:hover {
	
}

select:focus {
	
}

select option {
	font-weight: normal;
}