// 
// Typography
// 

// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font-family;
}

h1, h2, h3, h4 {
  font-weight: $fw-medium;
}

h5, h6 {
  font-weight: $fw-bold;
}

// Helper classes

.page-sub-title {
  font-size: 1.188rem;
  color: $gray-5;
  text-align: center;
  line-height: 1.688rem;
}

// Links

a {
  color: $color-5;

  &:hover {

  }

  &:active {

  }

  &:focus {

  }

  &:visited {

  }
}

// Code blocks

div[class*="language-"].line-numbers-mode pre {
  // small fix for an invalid style attribute on the core VuePress styles
  padding-left: 4.5rem;
}

// Images

img {
  max-width: 100%;
  height: auto;
}