$contentClass = '.theme-default-content'

// 
// VuePress overrides
// https://vuepress.vuejs.org/default-theme-config/#simple-css-override
// 

$accentColor = #1155CB
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34