// 
// Site styles
// 

// VuePress default theme config
@import './vuepress-core/config';

// All of our project SCSS variables
@import './custom/config/variables';

// 
// VuePress core styles
// 
// These have all been converted over from the
// Stylus files that come bundled with the
// default VuePress theme.
// 

@import './vuepress-core/wrapper',
        './vuepress-core/index',
        './vuepress-core/algolia-search',
        './vuepress-core/arrow',
        './vuepress-core/code',
        './vuepress-core/custom-blocks',
        './vuepress-core/dropdown-link',
        './vuepress-core/nav-links',
        './vuepress-core/page',
        './vuepress-core/sidebar',
        './vuepress-core/sidebar-button',
        './vuepress-core/sidebar-group',
        './vuepress-core/sidebar-link',
        './vuepress-core/toc',
        './vuepress-core/mobile';

// 
// Custom styles
// 

// Tailwind
@tailwind utilities;

// setup
@import './custom/config/fonts',
        './custom/config/mixins';

// base
@import './custom/base/structure',
        './custom/base/forms',
        './custom/base/type-and-content';

// pages
@import './custom/pages/page',
        './custom/pages/page-home',
        './custom/pages/page-install',
        './custom/pages/page-request-demo';

// components
@import './custom/components/version-nav',
        './custom/components/version-alert',
        './custom/components/navbar',
        './custom/components/sidebar',
        './custom/components/footer',
        './custom/components/newsletter-form',
        './custom/components/card',
        './custom/components/tower',
        './custom/components/tiny-tabs',
        './custom/components/newsbar';