@use 'sass:color';

.custom-block {
  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }
  &.tip, &.warning, &.danger {
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;
  }
  &.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
  }
  &.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: color.scale(#ffe564, $lightness: -50.2816901408%);
    color: color.scale(#ffe564, $lightness: -100%);
    .custom-block-title {
      color: color.scale(#ffe564, $lightness: -71.8309859155%);
    }
    a {
      color: $textColor;
    }
  }
  &.danger {
    background-color: #ffe6e6;
    border-color: color.scale(red, $lightness: -28.5714285714%);
    color: color.scale(red, $lightness: -100%);
    .custom-block-title {
      color: color.scale(red, $lightness: -57.1428571429%);
    }
    a {
      color: $textColor;
    }
  }
}
