@use 'sass:color';

.page {
  padding-bottom: 2rem;
  display: block;

  .content__default.with-alert {
    padding-top: 0;
  }
}

.page-edit {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  @include wrapper;
  .edit-link {
    display: inline-block;
    a {
      color: color.scale($textColor, $lightness: 25%);
      margin-right: 0.25rem;
    }
  }
  .last-updated {
    float: right;
    font-size: 0.9em;
    .prefix {
      font-weight: 500;
      color: color.scale($textColor, $lightness: 25%);
    }
    .time {
      font-weight: 400;
      color: #aaa;
    }
  }
}

.page-nav {
  padding-top: 1rem;
  padding-bottom: 0;

  @include wrapper;
  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid $borderColor;
    padding-top: 1rem;
    overflow: auto;
  }
  .next {
    float: right;
  }
}

@media (max-width: $MQMobile) {
  .page-edit {
    .edit-link {
      margin-bottom: 0.5rem;
    }
    .last-updated {
      font-size: 0.8em;
      float: none;
      text-align: left;
    }
  }
}