{
  "presets": [
    [
      "@vue/babel-preset-app",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": [
          "> 1%",
          "last 2 versions"
        ]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-transform-es2015-arrow-functions"
  ]
}
