// 
// Installation page
// 

.page-container--install {
  
}

.install-methods {
  list-style: none;
  margin: 0;
  padding: 0;
}

.install-methods__item {
  text-align: center;
  padding: 0.938rem;
  min-height: 10rem;
}

.install-methods__item-logo {
  max-width: 70%;
  max-height: 4rem;
}

.install-methods__item-title {

}

@media (min-width: $MQMobile + 1) {
  .page-container--install {
    padding-top: $navbarHeight * 2;
  }
}