// 
// General page styles
// 

.page {
  padding-left: 0;
}

.inner {
  @include content-container;
}

// this is hidden for now unless we make the masthead logo
// just the icon itself, and then unhide this to use as the title
.site-name {
  @include sr-only;
}

.page-container {
  padding-top: $navbarHeight;
}

.page-container--compact {
  max-width: $container-width-compact;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $MQMobile + 1) {
  .page {
    flex: 1;
  }
}