// 
// Blog
// 

:root {
  --blog-width: 920px;
  --blog-width-narrow: 800px;
  --blog-wrapper-margin: 2rem 0 0 0;
  --blog-title-margin: 0 0 var(--spacing-xxs) 0;
  --blog-article-margin: 0 0 var(--spacing-lg) 0;
  --blog-article-padding: 0 0 var(--spacing-sm) 0;
  --blog-article-border: 1px solid #{$color-7};
  --blog-content-padding: var(--spacing-lg);
  --blog-summary-padding: 0 var(--spacing-lg);
  --blog-summary-radius: 12px;
}

@mixin narrow-blog-content {
  max-width: var(--blog-width-narrow);
  margin: 0 auto;
  padding: var(--blog-content-padding);
}

@mixin featured-image-content {
  margin-top: -60px;
  background-color: #fff;
  border-radius: var(--blog-summary-radius);
  // box-shadow: 0 -15px 18px 0 rgba(#000, 0.07);
}

// 
// Blog page general
// 

.blog-page {

}

.page-container--blog {
  max-width: var(--blog-width);
  margin: 0 auto;
}

.pagination-wrapper {
  margin: var(--blog-wrapper-margin);
  text-align: center;
  border-top: var(--blog-article-border);
  
  .pagination {
    
  }
}

// 
// Blog page index
// 

.blog-article {
  padding: var(--blog-article-padding);
  
  &:not(:last-of-type) {
    margin: var(--blog-article-margin);
  }

  a {

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}

.blog-index__post-title {
  border: 0;
  margin: var(--blog-title-margin);
}

.blog-index__post-header {
  
}

.blog-index__post-footer {

}

.blog-index__post-summary {

}

.blog-index__post-header__content {
  
}

.blog-article__post-inner {
  @include narrow-blog-content;
}

// when a blog index item has a featured image
.has-image {

  .blog-index__post-header__content {
    
  }

  .blog-article__post-inner {
    @include featured-image-content;
  }
}

.blog-post__header-image {
  padding-top: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--blog-summary-radius);
  // box-shadow: 0 10px 0 0 $color-5;
}

// 
// Blog detail pages
// 

.blog-detail__content {

}

.blog-post__detail-content {
  @include narrow-blog-content;
}

// when a blog detail page has a featured image
.has-image {

  .blog-post__detail-content {
    @include featured-image-content;
  }
}

// 
// Blog nav
// 

.blog-nav {
  text-align: left;
  margin-top: var(--spacing-lg);
  padding: 0 0 var(--spacing-sm) 0;
  border-bottom: var(--blog-article-border);

  a {

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}