// 
// Homepage
// 

$home-section-spacing: 80px;
$home-feature-icon-bottom-spacing: 42px;

@mixin home-section {
  padding: $home-section-spacing 0;
}

.page-container--home {

  // hide the header anchor links
  .header-anchor {
    display: none !important;
  }

  // hide the outbound link icon
  a .icon.outbound {
    display: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    border: 0;
  }

  // Containers

  .inner {
    overflow: hidden;
  }

  // Content masthead

  .page-masthead-wrap {
    @include home-section;
  }

  // Features

  .features {
    @include home-section;
  }

  .features__item {
    
    .inline-svg {
      margin: 0 auto $home-feature-icon-bottom-spacing auto;
    }
  }

  // Testimonial

  .testimonial-wrap {
    background-color: $color-16;
    @include home-section;

    a:not(.btn) {
      color: $color-17;

      &:hover { 
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .testimonial {
    color: #fff;
    max-width: 38.75rem;
    margin: 0 auto;
    
    // resets
    blockquote, cite {
      padding: 0;
      margin: 0;
      border: 0;
      font-style: normal;
      color: inherit;
    }
  }

  .content__testimonial-content {
    border: 0;
    font-size: 1.438rem;
    
    > p {
      @include quotify;

      &:before, &:after {
        display: inline-block;
      }
    }
  }

  .testimonial__portrait {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 1.25rem;
    width: 5rem;
    height: 5rem;

    img {
      @include img-full;
      object-fit: cover;
    }
  }

  .testimonial__cite {
    width: 100%;
    display: flex;
    align-items: center;
  }

  // Steps

  .steps-wrap {
    background-color: $color-14;
    color: #fff;
    padding-top: $home-section-spacing;
    padding-bottom: $home-section-spacing;
  }

  .steps-items {

  }

  .steps-items__header {
    
  }

  // Newsletter form

  .newsletter-form-wrap {
    @include home-section;
  }

  .newsletter-form {
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;

    form {
      width: 100%;
    }
  }
}

@media (min-width: $MQMobile + 1) {
  .page-container--home {

    .features__item {
    
      .inline-svg {
        margin: 0 0 $home-feature-icon-bottom-spacing 0;
      }
    }
  }
}