// 
// Installation page
// 

$install-tile-bg-color: #fff;
$install-tile-border: 1px solid $gray-med;
$install-tile-border-hover: 1px solid $green-base;
$install-tile-shadow: $base-soft-shadow;
$install-tile-radius: 5px;
$install-tile-min-height: 6rem;

.page-container--install {
  
}

.install-methods {
  list-style: none;
  margin: 0;
  padding: 0;
}

.install-methods__item {
  
}

.install-methods__item-link {
  padding: 1.3rem;
  background-color: $install-tile-bg-color;
  box-shadow: $install-tile-shadow;
  border-radius: $install-tile-radius;
  border: $install-tile-border;
  min-height: $install-tile-min-height;

  will-change: transform;
  transform-origin: center;
  transform: translateZ(0); // prep
  transition: 
    color 200ms $cb-1,
    border 200ms $cb-1,
    transform 200ms $cb-1;

  &:hover {
    transform: scale(1.05);
    border: $install-tile-border-hover;
    color: $green-base;
  }

  @media (min-width: $MQMobileMid + 1) {
    &:hover .install-methods__item-logo {
      border-right: $install-tile-border-hover !important;
    }
  }
}

.install-methods__item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    max-width: 100%;
    height: auto;
  }
}

.install-methods__item-title {

  h3 {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $MQMobileMid + 1) {
  .install-methods__item-logo {
    will-change: border;
    transition: border 200ms $cb-1;
    border-right: $install-tile-border;
  }
}

@media (max-width: $MQMobileMid) {
  .install-methods {
    text-align: center;
  }

  .install-methods__item-logo {
    border-bottom: $install-tile-border;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  
    img {
      max-width: 70%;
      max-height: 4rem;
    }
  }

  .install-methods__item-link {
    
  }
}