.search-box {
    padding: 1.563rem 1.563rem 0 1.563rem;
}
.search-box input {
  font-size: $base-font-size;
  font-family: $monospace;
  color: $color-5;
  letter-spacing: -1px;
  height: $input-height;
  line-height: $input-height;

  appearance: none;
  padding: 0.625rem 1.8rem 0.625rem 0.625rem;
  border: 2px solid $color-7;
  border-radius: 3px;
  outline: 0;

  box-shadow: $base-soft-shadow;
  width: 100%;
}

.algolia-autocomplete {
  width: 100%!important;
}

.algolia-autocomplete .ds-dropdown-menu {
  overflow: visible;
}
