// 
// Installation page
// 

.install-methods {
  list-style: none;
  align-items: center;
  justify-content: center;

  @apply
    flex 
    flex-wrap;
}

.install-methods__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  min-height: 160px;

  @apply 
    w-1/6 
    px-2;
}

.install-methods__item-logo {
  max-width: 70%;
  max-height: 50px;
  display: block;
  margin: 0 auto;
}

.install-methods__item-title {

}