// 
// Installation page
// 

.install-methods {
  @apply flex flex-wrap;
  list-style: none;
}

.install-methods__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  min-height: 160px;
  @apply w-1/6;
}

.install-methods__item-logo {
  max-width: 70%;
  max-height: 50px;
  display: block;
  margin: 0 auto;
}

.install-methods__item-title {

}