// 
// Footer
// 

$page-footer-border: 1px solid $gray-med;

.page-footer {
  padding: 5rem 0;
  border-top: $page-footer-border;

  a {
    color: $color-3;
    line-height: 1.875rem;
  }
}

// footer spacing above the content (homepage and sidebar pages excluded)
.theme-container.no-sidebar:not(.is-home):not(.home) .page-footer {
  margin-top: 5rem;
}

.page-footer__links {
  
  ul {
    padding: 0;
    list-style: none;
  }

  h5 {
    text-transform: uppercase;
    color: $color-3;
    margin-top: 0;
    padding-top: 0;
  }

  a:hover {
    text-decoration: underline;
  }

  .badge-wrap {
    position: relative;
  }

  .badge {
    position: absolute;
    left: 115%;
    top: -5px;
    display: inline-block;
    background-color: lighten($color-2, 45);
    color: $color-2;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 2;
    padding: 0 0.5rem;
  }
}

.page-footer__sublinks {
  margin-top: 2.5rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    line-height: normal;
  }

  .inner {
    align-items: center;
  }

  .copyright {
    color: lighten(#000, 45);
  }

  .social-links {
    
    ul {
      display: flex;
    }

    ul li:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

@media (max-width: $MQMobile) {
  .page-footer__links {
    text-align: center;

    ul h5 {
      padding: .5rem 0;
      border-top: $page-footer-border;
      border-bottom: $page-footer-border;
    }
  }

  .page-footer__sublinks {
    text-align: center;

    .social-links {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: $page-footer-border;
      
      ul {
        justify-content: center;
      }
    }
  }

}

@media (min-width: $MQMobile + 1) {
  .page-footer__sublinks {

    ul {
      display: flex;
    }
  
    ul li:not(:last-of-type) {
      margin-right: 2.813rem;
    }
  }
}

@media (min-width: $MQMobile + 1) and (max-width: 767px) {
  .page-footer__sublinks {

    ul {
      justify-content: center;
    }

    .social-links {
      margin-top: 1rem;
    }
  }
}