// 
// NavBar.vue
// 

$navbar-vertical-padding: 1.5rem;
$navbar-horizontal-padding: 1.5rem;
$navbar-link-border: 2px solid $color-13;
$navbar-link-font-size: $base-font-size;
$navbar-link-font-family: $sftextui-medium, $sans-serif;
$navbar-install-bg-color: $color-13;
$navbar-install-text-color: #fff;
$navbar-logo-height: 2.563rem;
$navbar-install-hover-color: $color-3;

.navbar {
  height: $navbarHeight;
  padding: 0 $navbar-horizontal-padding;
  // padding: $navbar-vertical-padding $navbar-horizontal-padding;
  line-height: 0;
  // line-height: $navbarHeight - 1.4rem;
  display: flex;
  align-items: center;

  a, span, img {
    display: inline-block;
  }

  .logo {
    height: $navbar-logo-height;
    margin-right: 0.8rem;
    // vertical-align: top;
  }
    
  .site-name {
    // font-size: 1.3rem;
    // font-weight: 600;
    // color: $textColor;
    // position: relative;
    display: none;
  }
    
  .links {
    padding-left: 1.5rem;
    box-sizing: border-box;
    background: none;
    white-space: nowrap;
    font-size: $navbar-link-font-size;
    font-family: $navbar-link-font-family;
    // position: absolute;
    // right: $navbar-horizontal-padding;
    // top: $navbar-vertical-padding;
    display: flex;
    margin-left: auto;

    .search-box {
      flex: 0 0 auto;
      vertical-align: top;
    }
  }

  .home-link {
    display: flex;
    align-items: center;
  }

  // custom additions to navbar

  .logo-wrap {
    display: flex;
    align-items: center;
  }

  .repo-button {
    
  }

  .nav-item--install > a:not(.external),
  .nav-item--install > a.router-link-active {
    border-bottom: $navbar-link-border;
    background-color: $navbar-install-bg-color;
    color: $navbar-install-text-color !important;
    padding: .563rem 2.25rem;
    border-radius: 5px;
    box-shadow: $base-soft-shadow;
    transition: 
      background .2s ease-in-out,
      border .2s ease-in-out,
      color .2s ease-in-out;

    &:hover {
      background-color: $navbar-install-hover-color;
      border-bottom-color: $navbar-install-hover-color;
      color: darken($navbar-install-text-color, 70%) !important;
    }
  }
}

.navbar-inner {
  max-width: $container-width-compact;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-item > a {
  padding: $navbar-vertical-padding 0;
}

@media (max-width: $MQMobile) {
  .navbar {
    padding-left: 4rem;

    .can-hide {
      display: none;
    }

    .links {
      padding-left: 1.5rem;
    }
  }
}   

@media (min-width: $MQMobile) {
  .nav-item > a:not(.external):hover,
  .nav-item > a:not(.external).router-link-active {
    border-bottom: $navbar-link-border;
    color: $color-13;
  }
}