// 
// Newsletter form
// 

.newsletter-form-wrap {
  @include page-section;
  text-align: center;
  background-color: #fff;
  background-repeat: repeat;
  background-size: contain;
  background-image: url('#{$image-path}contributor-bg.jpg');

  // animation-name: bg-scroll;
  // animation-duration: 120s;
  // animation-iteration-count: infinite;
  // animation-timing-function: ease-in-out;
  // animation-direction: alternate;

  @include retina-mq {
    background-image: url('#{$image-path}contributor-bg@2x.jpg');
  }
}

.newsletter-form {
  max-width: 41.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 3.75rem;
  background: rgba(#fff, .7);
  border-radius: 3px;
  border: 1px solid $navy-light;
  font-size: 1.063rem;

  form {
    margin-top: 2rem;
    width: 100%;
  }
}

@keyframes bg-scroll {
  100% {
    background-position: -2880px;
  }
}