//
// Newsletter form
//

.newsletter-form-wrap {
  @include page-section;

  position: relative;
  text-align: center;
  background-color: $pale-blue;
  overflow: hidden;
  // background-repeat: repeat;
  // background-size: contain;
  // background-image: url('#{$image-path}contributor-bg.jpg');

  // animation-name: bg-scroll;
  // animation-duration: 120s;
  // animation-iteration-count: infinite;
  // animation-timing-function: ease-in-out;
  // animation-direction: alternate;

  // @include retina-mq {
  //   background-image: url('#{$image-path}contributor-bg@2x.jpg');
  // }

  // > * {
  //   position: relative;
  //   z-index: 1;
  // }

  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 0;
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   content: "";
  //   background-image: $gradient-3;
  //   background-size: 100%;
  // }

  .waves--type-2 {
    display: none;
  }
}

.newsletter-form {
  position: relative;
  z-index: 1;
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 3px;
  box-shadow: $base-soft-shadow;

  form {
    margin-top: 2rem;
    width: 100%;
  }

  .btn:disabled {
    opacity: 1 !important;
  }

  input[type='email'] {
    border: 0;
    background-color: $pale-blue;
  }

  .form-wrapper {
    span {
      margin-right: 0;
    }
  }
}

.content__newsletter-title {
  > * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

.content__newsletter-content {
  font-size: 1.1875rem;
}

// @keyframes bg-scroll {
//   100% {
//     background-position: -2880px;
//   }
// }

.newsletter-form-wrap--simple {
  padding: 2rem;
  // background: none;

  .waves--type-2 {
    @media (min-width: $MQMobile + 1) {
      // top: 50% !important;
      bottom: 0 !important;
      top: auto !important;
      transform: translateX(-50%) !important;
    }
  }

  .content__newsletter-content {
    font-size: 1rem;
    margin: 1rem auto;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .newsletter-form {
    padding: 1.5rem 1rem;
    max-width: 40rem;
    box-shadow: $base-soft-shadow;
    border-radius: 5px;

    form {
      margin: 0;
    }

    .content__newsletter-content {
      margin-bottom: 1rem;
    }
  }

  .form-wrapper--compact {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $MQMobile + 1) {
  .newsletter-form-wrap {
    .waves--type-2 {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;
      transform: translateX(-50%);

      svg {
        position: relative;
        left: 50%;
        height: 100%;
        overflow: visible;
        transform: translateX(-50%);
      }
    }
  }

  .form-wrapper {
    form {
      background-color: $pale-blue;
      border-radius: 20px;
    }
  }

  .newsletter-form {
    input[type='email'] {
      border-radius: 20px 0 0 20px;
    }
  }
}
