// 
// Sidebar
// 

$sidebar-link-active: $color-13;
$sidebar-link-hover: $color-8;
$sidebar-link-active-border-color: $color-13;

.sidebar {
  font-size: $base-font-size;
  width: $sidebarWidth;
}

a.sidebar-link {

  &:hover {
    color: $sidebar-link-hover;
  }

  &.active {
    color: $sidebar-link-active;
    border-left-color: $sidebar-link-active-border-color;
  }
}

@media (min-width: $MQMobile + 1) {
  .sidebar {
    position: static;
    top: auto; left: auto; bottom: auto;
  }
}

@media (max-width: $MQNarrow) {
  .sidebar {

  }
}