// 
// Sidebar
// 

$sidebar-link-active: $color-13;
$sidebar-link-hover: $color-8;
$sidebar-link-active-border-color: $color-13;

.sidebar {
  overflow: visible;
  background: none;
  font-size: $base-font-size;
  width: $sidebarWidth;

  &:after {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100vw;
    content: "";
    background-color: $gray-light;
  }
}

a.sidebar-link {

  &:hover {
    color: $sidebar-link-hover;
  }

  &.active {
    color: $sidebar-link-active;
    border-left-color: $sidebar-link-active-border-color;
  }
}

@media (min-width: $MQMobile + 1) {
  .sidebar {
    position: relative;
    top: auto; left: auto; bottom: auto;
  }
}

@media (max-width: $MQNarrow) {
  .sidebar {

  }
}