// 
// vuepress-plugin-tabs style overrides
// https://www.npmjs.com/package/vuepress-plugin-tabs
// 

.tabs-component-tabs {

}

.tabs-component-tab {
  margin-right: 0.85rem;
  font-size: 0.85rem;

  &.is-active {

    .tabs-component-tab-a {
      color: #3fa66a;
    }
  }
}

.tabs-component-tab-a {
  padding: 0.5rem 0.75rem;
}