<aside id="sidebar" class="sidebar">
  {% include nav_links.html %}

  {% if page.doc -%}
  <div class="sidebar-top-section">
    <form class="version-nav">
      {% include version_selector.html name="doc-version-selector" %}
    </form>

    <form id="search-form" class="algolia-search-wrapper search-box" role="search">
      <input id="algolia-search-input" class="search-query" placeholder="Search...">
    </form>
  </div>
  {%- endif %}

  {% include sidebar_links.html nav_items=page.nav_items release=page.release depth=0 %}
</aside>
