{% assign current_release = page.release %}

<select name="{{ include.name }}" class="version-selector" id="version-selector">
  {% for version in site.data.versions %}
    {% assign option_value = version.release %}
    <option value="{{ option_value }}" {% if version.release == current_release %} selected {% endif %}>
      {% if version.label %}
        {{ version.label }}
      {% else %}
        {{ version.release }}
        {% if version == site.data.latest_version %}
          (latest)
        {% endif %}
      {% endif %}
    </option>
  {% endfor %}
</select>
