name: project-lifecycle
on:
  schedule:
    - cron: 0 8 * * *
  workflow_dispatch:
  issues:
    types:
      - reopened
      - opened
      - labeled

jobs:
  lifecycle:
    uses: kumahq/.github/.github/workflows/wfc_lifecycle.yml@717d2c4fe5577efff2e0270d640df425054af5de
    with:
      filesToIgnore: CODEOWNERS,CONTRIBUTING.md
