name: Test Plugins
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
jobs:
  test-plugins:
    runs-on: ubuntu-24.04
    steps:
      - name: Check relevant changes
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            plugins:
              - 'jekyll-kuma-plugins/**'
              - 'app/_plugins/**'
              - 'spec/**'
              - '.rubocop.yml'
              - '.github/workflows/test-plugins.yml'
              - 'mise.toml'
      - name: Checkout
        if: steps.changes.outputs.plugins == 'true'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup mise
        if: steps.changes.outputs.plugins == 'true'
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Rubocop
        if: steps.changes.outputs.plugins == 'true'
        uses: reviewdog/action-rubocop@b6d5e953a5fc0bf3ab65254e77730ea2174d6d6d # v2.22.0
        with:
          reporter: github-pr-check
          fail_level: error
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Test jekyll-kuma-plugins
        if: steps.changes.outputs.plugins == 'true'
        run: mise run test:plugins
      - name: Test spec
        if: steps.changes.outputs.plugins == 'true'
        run: mise run install && mise run test
